body{
   
    margin: 0%;
    font-family: 'Sofia Sans', sans-serif;
    background:linear-gradient(to left,#1e192c 65%,black);


}


header{
    display: flex;
    height: 50px;
    width:100%;
    background: black;
    color: white; 
    justify-content: space-between,space-around;    
    border-bottom: 0.1px solid #ffffff;    
}
nav ,ul,li{
  display: flex;
  gap: 1rem; 
  align-items: center;
  justify-content: center;
}
nav{
    justify-content: space-between,space-around;
    width: 50%;
    max-width: 300px;
    height: 50px;
}
h1{
    display: flex;
    font-size: min(5vw, 1.2em);
    margin-left: 1rem;
}
a{
    color: white;
    text-decoration:none;
}
section{
    color: white;
    border-radius: 0.5rem;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}
footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}

.try_section{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;    
 }

 .try_section, p{
    white-space: pre-line;  
 }
#logo{    
    margin-left: 3rem;
    aspect-ratio: 1/1;
    border-radius:20rem;  
}

#one_section{
    margin-left: 2rem;
}
.github{
    width: 100%;
}
.name{
   margin-right: 45%;    
}
.logo_perfil{    
    border-radius: 100%;
    margin-left: 2rem;
}
.sobre_mim{
    margin: 0%;
    display: flex;
    color: white;    
    font-size: 1.5rem;
}