@import url('https://fonts.cdnfonts.com/css/instagram-sans-script');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sofia+Sans:ital,wght@1,200&display=swap');



:root{
    --color-purple:#412552;
    --color-black:black;
    --color-destaque:rgb(64, 3, 99);
    --color-dark2: #000000;
    --color-white:white;
    --color-box-shadow:#9331d1;
   
}

*{
    margin: 0;
    padding:0; 
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}


body{  
    background-color: var(--color-black);
    color: var(--color-white);    
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-white);
  background-color: var(--color-dark2);
  padding: 0% 3%;
  height: 3.5rem;
    }
    


main{   
    background: linear-gradient(90deg,black 35%,#412552);
    
}

footer{
    background-color: black;
    height: 100%;
}





.btn-menu{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    height: 180rem;
}
.info-perfil{
    display: flex;
    align-items: center
}
.info-lucas{    
    display: flex;    
    justify-content: space-between;
    align-items:center;
    padding: 5rem;
}
.escrita-sobre{
 display: inline-block; 
 word-wrap: break-word;
 padding-left: 40%;

}
.dados-github{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5rem;
}
#dados-2{
    width: 26rem;
}

.icons-tecnologia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;      
}
.icons{    
    cursor: pointer;  
    
}

.redes-sociais img{
    transition: transform 0.3s;
}
.btn-do-github{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 10%;
    border-radius: 1rem;
    transition: transform 0.3s;
     
}
.btn-do-github:hover{
    transform: scale(1.1);
}
.redes-sociais img:hover{
    transform: scale(1.1);
}
#logo-perfil{
    border-radius: 100%;
    width: 3.125rem;
}
#image-profile{
    width: 70%;
    border-radius: 100%;
}



#gitlink{
    display: flex;   
    justify-content: center;
}

#btn-github:hover{
    box-shadow: 0 2px 36px var(--color-white);
    transform: scale(1.1);
}

/* Personalização do scrollbar */

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background:black;
}

::-webkit-scrollbar-thumb{
    -webkit-border-radius:12px;
    border-radius: 12px;
    background: linear-gradient(180deg,#8A35C8,#0036FD);
    border:2px solid black;
}

::-webkit-scrollbar-thumb:hover{
    -webkit-border-radius:12px;
    border-radius: 12px;
    background: linear-gradient(180deg,#8A35C8,#0036FD);
    border:2px solid black;}
 

@media screen and (max-width:768px) {   
    .btn-menu{
         display: block;
    }
    .menu{
        position: absolute;        
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark2);
        height: 100%;       
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
      }   

      .redes-sociais{
        display: flex;
        flex-direction: column;
        padding-top:3rem;
        gap: 3rem;
      }
      .info-lucas{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
      }
      #image-profile{        
        width: 40%;      
        padding:1rem;
      }
      .escrita-sobre{
        padding: 0;
      }
     
      .dados-github{       
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding-top: 1rem;
      }
      .dados-github img{
       height:9em;
       width: 100%;
      }
      .icons{
        padding-bottom: 1rem;
      }
      
      .btn-do-github{
        width: 30%;
        margin-top:5rem;
        margin-bottom: 5rem;
        border-radius: 1.5rem;
      }

}


@keyframes AnimationMenu{
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
}


@keyframes AnimationExit{
    from{margin-left: -10vw;}
    top{margin-left: -100vw;}
}


/**/

