@import url('https://fonts.cdnfonts.com/css/instagram-sans-script');             



:root{
    --color-purple:#8647ad;
    --color-black:black;
    --color-destaque:rgb(64, 3, 99);
    --color-dark2: #212121;
    --color-white:white;
}

*{
    margin: 0;
    padding:0;
}


body{

    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;     

}


main{

    background: linear-gradient(90deg,black 35%,#412552);   
    
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-white);
    background-color: var(--color-dark2);
    padding: 0% 3%;
    height: 3.5rem;
}



.btn-menu{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
   
}
.info-perfil{
    display: flex;
    align-items: center
}
.info-lucas{    
    display: flex;    
    justify-content: space-between;
    align-items:center;
    padding: 5rem;
}
.escrita-sobre{
 display: inline-block; 
 word-wrap: break-word;

}
#logo-perfil{
    border-radius: 100%;
    width: 3.125rem;
}
#image-profile{
    border-radius: 100%;
}
#btn-github{
    width: 30%;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:768px) {   
    .btn-menu{
         display: block;
    }
    .menu{
        position: absolute;        
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark2);
        height: 100%;       
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
      }   

      .redes-sociais{
        display: flex;
        flex-direction: column;
        padding-top:3rem;
        gap: 3rem;      
         
      }
      .info-lucas{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
      }
      #image-profile{        
        width: 40%;
        padding:1rem;
      }
      #gitlink{
        display: flex;   
        justify-content: center;
    }

}


@keyframes AnimationMenu{
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
}


@keyframes AnimationExit{
    from{margin-left: -10vw;}
    top{margin-left: -100vw;}
}




